.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.gradle/
.java/
.local/
.pki/
.profile
.ssh/


Android/
AndroidStudioProjects/
Documents/
Downloads/
snap/


*.log



.android/
.emulator_console_auth_token
google-chrome-stable_current_amd64.deb
apk_analysis/



.sudo_as_admin_successful
.wget-hsts
